@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .pseudoBefore {
        @apply relative z-10 before: absolute before:-z-10 before:content-[''];
    }
} */

.cardPseudo {
  position: relative;
  /* z-index: 5; */
}

.cardPseudo::after {
  content: "";
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 80px;
  height: 80px;
  border-radius: 1.5rem 0 1rem 0;
  z-index: -1;
  transition: 300ms cubic-bezier(1, 0, 0, 1);
}

.cardPseudo:hover::after {
  bottom: -1.5rem;
  left: -1.5rem;
}

.bg-hero-pattern-mobile-diag {
  background-image: linear-gradient(
    46.54deg,
    var(--tw-gradient-from) 10.8%,
    var(--tw-gradient-to) 42.15%
  );
}

.orange-color {
  filter: invert(35%) sepia(47%) saturate(3649%) hue-rotate(1deg)
    brightness(103%) contrast(104%);
}

.icon-white-color {
  filter: invert(100%) sepia(1%) saturate(284%) hue-rotate(13deg)
    brightness(119%) contrast(100%);
}

.process-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 81, 0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 8px 0px 0px;
}
.gradient_contact {
  background-image: linear-gradient(90deg, rgb(255, 81, 0), rgb(255, 153, 0), rgb(162, 89, 255), rgb(72, 163, 198))
}